.container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}

.mainImage {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.left {
  height: 60%;
}
.right {
  padding: 0 10px;
  text-align: left;
  height: 40%;
  border-radius: 0 0 10px 10px;
  background-color: #eee;
}

.ul {
  display: flex;
  height: 25%;
  margin: -10px;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #b255dd;
  border-radius: 0 0 10px 10px;
  color: white;
  font-weight: 400;
}
.li {
  text-align: center;
}
.li img {
  size: 100%;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.li span {
  display: inline-block;
  vertical-align: middle;
}
.pricing_column {
  vertical-align: middle;
  height: 15%;
}
.pricing_column span {
  color: blueviolet;
  font-weight: 700;
}
.description {
  display: flex;
  height: 50%;
  padding: 5% 0;
}
.description span {
  vertical-align: middle;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
