.elongatedContainer {
  width: 70vw;
}
.elongated {
  display: flex;
  flex-direction: row;
  height: 40vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.moreImages {
  width: 40vw;
}

.moreImages img {
  size: 100%;
  width: 40%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
}

.landlord {
  margin-top: 50px;
  min-height: 250px;
  border: 2px solid blueviolet;
  display: flex;
  width: 64vw;
}
.landLeft img {
  size: 100%;
  height: 250px;
}
.landRight {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.landRight > * {
  margin: 10px 0;
}

.landName {
  font-size: 2rem;
  font-weight: 600;
}
.landReview {
  font-weight: 600;
}
.landAddress,
.landPhone,
.landEmail {
  font-weight: 400;
  color: blueviolet;
  text-decoration: underline;
}
.mainImage {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.left {
  height: 60%;
}
.right {
  padding: 0 10px;
  text-align: left;
  height: 40%;
  border-radius: 0 0 10px 10px;
  background-color: #eee;
}

.ul {
  display: flex;
  height: 25%;
  margin: -10px;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #b255dd;
  border-radius: 0 0 10px 10px;
  color: white;
  font-weight: 400;
}
.li {
  text-align: center;
}
.li img {
  size: 100%;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.li span {
  display: inline-block;
  vertical-align: middle;
}
.pricing_column {
  vertical-align: middle;
  height: 15%;
}
.pricing_column span {
  color: blueviolet;
  font-weight: 700;
}
.description {
  display: flex;
  height: 50%;
  padding: 5% 0;
}
.description span {
  vertical-align: middle;
  font-weight: 500;
  display: -webkit-box;
  overflow: scroll;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
