.nav {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imgCont{
  height: 100px;

}
.imgCont img {
  size: 100%;
  height: 150%;
}
.prompt {
  font-size: 1.1rem;
  font-weight: 600;
}
